<!-- For Student -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issued Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Issued Books</h1>
        {% if books %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>
                            <button type="submit"><a href="{% url 'return_book' book.pk %}">Return</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No books issued.</p>
        {% endif %}
    </div>
</body>
</html>
